[submodule "Gen6D-forgrasp"]
	path = Gen6D-forgrasp
	url = https://github.com/test-bai-cpu/Gen6D-forgrasp.git
[submodule "soft_hand_grasping"]
	path = soft_hand_grasping
	url = https://gitsvn-nt.oru.se/snyg/soft_hand_grasping.git